* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}
header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo . nav";
    padding: 1%;
    margin-bottom: 5em;
    box-shadow: 0px 6px 18px 2px rgba(0,0,0,0.14);
    color: #333333;
}
h1 {
    grid-area: logo;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: #333333;
    margin: 0 1em;
}
nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
}
ul {
    display: flex;
    list-style: none;
    align-items: center;
}
li {
    margin: 0 1em;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: 333333;
}
h2 {
    align-self: flex-start;
    margin: 2em 0;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 800;
}
section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
}
article {
    display: flex;
    flex-direction: column;
    padding: 5% 7%;
    margin: 5%;
    box-shadow: 0px 10px 18px 4px rgba(86,212,194,0.15);
    color: #333333;
    border-radius: 7px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
p {
    font-size: 0.9em;
    margin: 0.5em 0;
}
form {
    display: flex;
    flex-direction: column;
}
textarea {
    resize: none;
    border-radius: 7px;
    align-self: flex-start;
}
#title {
    width: 50%;
}
#content {
    width: 100%;
}
label {
    font-family: 'Open Sans', sans-serif;
}
button {
    background-color: #56D4C2;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 7px;
    font-family: 'Open Sans', sans-serif;
    align-self: flex-end;
}
#addButton {
    background-color: #56D4C2;
    color: white;
    border: none;
    padding: 0.5em 2.5em;
    border-radius: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    align-self: flex-end;
}

/* Media Query */

@media only screen and (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
    }
}